    <div class="sdt-wrapper">
        <div class="sdt-container">
            <h1>Stand de Tir</h1>
            <p class="milieu">Venez vous entraîner au tir avec l'arme de votre choix ! <br>
                <b>Arme au choix parmis :</b> Pistolet de combat, Pistolet MK2, Pistolet vintage, Glock17, Glock19,
                Pistolet cal. 50, Double action, Pistolet Lourd, Revolver, Pistolet céramique,
                Heavy shotgun, Fusil à pompe, Fusil à double canon, Fusil à canon scié,
                Bullpup, Tec9, Micro SMG, Fusil compact, Mini SMG, SMG tactique,
                SMG d'assaut, M4, Fusil avancé, MP5 et G36.
            </p>
            <p class="milieu"><i>NB : Les armes sont à restituer après la session.</i></p>
            <p>➤ Prix : 8000$</p>
            <p>➤ Nombre de boîtes fournies : 12 boîtes de 20 munitions.</p>
            <p>➤ Quand se finit la session? : Lorsque vous n'avez plus de munitions.</p>
            <p></p>
            <img src="/assets/sdt.png" alt="sdt">
            <div class="content-separator"></div>
            <h1>Règles spécifiques</h1>
            <p>➤ 1. Port du casque et de lunettes obligatoire.</p>
            <p>➤ 2. Aucune cible humaine ou représentation personnelle.</p>
            <p>➤ 3. Respect strict des consignes du personnel sur place.</p>
            <p>➤ 4. Interdit de pénétrer dans le stand armé sans validation au comptoir.</p>
        </div>
    </div>


