<div class="intro">
  <h1>Immortalisez vos plus beaux instants avec notre agence photo !</h1>
  <p>Chez L.C Studio, chaque image raconte une histoire. Nous vous proposons des services photo simples, accessibles et de qualité professionnelle, adaptés à tous vos besoins.</p>
</div>

<div class="catalogue-container">
  <div class="catalogue-row">
    <div class="catalogue-item">
      <img src="assets/chat.jpg" alt="Catalogue 1">
      <h3>Photo à l'unité</h3>
      <p>Idéale pour un portrait rapide, une photo pro ou un souvenir unique.</p>
      <h3>2.500$</h3>
    </div>
    <div class="catalogue-item">
      <img src="assets/chat.jpg" alt="Catalogue 2">
      <h3>Pack Photo 2</h3>
      <p>Parfait pour une mini séance avec plusieurs angles ou expressions.</p>
      <h3>10.000$</h3>
    </div>
    <div class="catalogue-item">
      <img src="assets/chat.jpg" alt="Catalogue 3">
      <h3>Pack Photo 3</h3>
      <p>Pour une séance complète, plus de variété et de possibilités. Parfait pour les séances groupées !</p>
      <h3>20.000$</h3>
    </div>
  </div>

  <div class="catalogue-separator">
    <span>ou</span>
  </div>

  <div class="catalogue-row">
    <div class="catalogue-item">
      <img src="assets/chat.jpg" alt="Catalogue 4">
      <h3>Affiches</h3>
      <p>Affiches faites sur demande, idéales pour les événements ou les entreprises.</p>
      <h3>de 5.000$ à 10.000$</h3>
    </div>
  </div>
</div>
