<div class="ppa-wrapper">
        <div class="ppa-container">
            <h1>Qu'est ce que le PPA?</h1>
            <p>Le Permis de Port d’Arme est un document réglementaire autorisant une personne à porter une arme à feu de faible calibre dans des circonstances précises. 
                Il est accordé uniquement dans des contextes strictement définis : sécurité personnelle, exercice d'une profession nécessitant un armement, ou activités spécifiquement encadrées.</p>
            <p>Sa délivrance est rigoureusement encadrée afin de préserver l’ordre public et prévenir les abus.</p>
            <div class="content-separator"></div>

            <h1>Finalités du PPA</h1>
            <h2>Ce permis a pour but de :</h2>
            <p>➤ Encadrer le port d’arme en s’assurant qu’il est réservé à des individus responsables et formés.</p>
            <p>➤ Renforcer la sécurité publique par un contrôle rigoureux des détenteurs.</p>
            <p>➤ Limiter les dérives, en filtrant sévèrement les candidatures et les usages non conformes.</p>
            <div class="content-separator"></div>

            <h1>Conditions à remplir pour l’obtention</h1>
            <h2>Pour prétendre à ce permis,</h2>
            <h2>il est nécessaire de répondre à plusieurs critères :</h2>
            <p>➤ <b>Casier judiciaire vierge :</b> Aucune infraction ou condamnation enregistrée.</p>
            <p>➤ <b>Enquête de moralité obligatoire :</b> Une vérification complète du profil du demandeur est effectuée.</p>
            <p>➤ <b>Frais de dossier :</b> 5 000 $</p>
            <div class="content-separator"></div>

            <h1>Évaluation Médicale et Psychologique</h1>
            <p>Le demandeur doit passer une évaluation psychotechnique et mentale dans un établissement agréé afin de vérifier sa stabilité émotionnelle et son aptitude à manier une arme. </p>
            <p>➤ <b>Coût de l’évaluation :</b> 10 000 $</p>
            <div class="content-separator"></div>

            <h1>Obtention du Permis</h1>
            <p>Une fois toutes les étapes validées, un rendez-vous est fixé pour la remise officielle du permis.</p>
            <p>➤ <b>Frais d’émission du permis :</b> 10 000 $</p>
            <div class="content-separator"></div>
            
            <div class="button-group">
                <a href="/documentationPPA" class="btn btn-primary">Documentation pour passer le PPA</a>
            </div>
        </div>
    </div>