.ppa-wrapper {
  padding: 25px 10px;
  display: flex;
  justify-content: center;
}

.ppa-container {
  background-color: #f2f2f2;
  color: #111;
  max-width: 800px;
  width: 100%;
  padding: 2rem 3rem;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.5);
}

.ppa-container h1 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  color: #800000;
  text-align: center;
  margin-top: -3px;
}

.ppa-container p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  line-height: 1.6;
}

.content-separator {
  margin: 40px 0;
  height: 2px;
  background-color: #ccc;
  width: 100%;
  border: none;
}

.button-group {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.btn {
  text-decoration: none;
  padding: 0.75rem 2rem;
  font-size: 20px;
  border-radius: 30px;
  transition: background 0.3s ease;
  color: white;
  background-color: #800000;
  border: none;
}