    <div class="reglement-wrapper">
        <div class="reglement-container">
            <h1>Règlement général</h1>
            <h2>1. Respect des lieux et du personnel</h2>
            <p>➤ Aucune insulte, menace ou comportement agressif ne sera toléré envers les clients ou les gérants.</p>
            <h2>2. Armes rangées en intérieur</h2>
            <p>➤ Arme sortie = client dehors. On ne touche pas si on n’achète pas.</p>
            <h2>3. Vente conditionnée à un comportement sain</h2>
            <p>➤ Visiblement drogué, énervé ou instable ? Reviens quand t’es sobre.</p>
            <h2>4. Interdiction de filmer ou photographier sans autorisation</h2>
            <p>➤ On respecte la discrétion des lieux et des clients.</p>
            <h2>5. Aucune négociation abusive</h2>
            <p>➤ Ce n’est pas un marché aux puces. Les prix sont affichés, à prendre ou à laisser</p>
            <h2>6. Paiement uniquement en espèces ou via compte propre</h2>
            <p>➤ Aucune transaction via des moyens douteux. Si tu proposes autre chose, Dwayne te raccompagne à la sortie.</p>
            <h2>7. Accès limité à certaines zones</h2>
            <p>➤ L’atelier et l’arrière-boutique sont réservés au personnel. Tu touches pas, tu demandes.</p>
            <div class="content-separator"></div>
            <h1>Sanctions :</h1>
            <p class="sanctions">Non-respect du règlement = expulsion immédiate.
               En cas de récidive, bannissement permanent du magasin,
               voire signalement aux autorités (officielles… ou non).
            </p>
        </div>
    </div>


