<div class="doc-wrapper">
        <div class="doc-container">
            <h1>Utilisation Autorisée</h1>
            <p>L’arme ne peut être utilisée que dans le strict cadre de la <b>légitime défense</b>. Toute action disproportionnée ou non justifiée constitue <b>un délit passible de sanctions pénales</b>.</p>
            <div class="content-separator"></div>
            <h1>Légitime Défense – Critères Juridiques</h1>
            <p>Pour qu’un acte de défense soit reconnu comme tel, 6 conditions cumulatives doivent être respectées :</p>
            <p>➤ 1. L’agression subie doit être non justifiée.</p>
            <p>➤ 2. La réaction doit viser à protéger soi-même ou autrui.</p>
            <p>➤ 3. La riposte doit être immédiate, sans délai.</p>
            <p>➤ 4. Elle doit être indispensable, sans autre issue.</p>
            <p>➤ 5. Elle doit être proportionnée à l’agression.</p>
            <p>➤ 6. La défense de biens matériels ne justifie jamais un homicide.</p>
            <p><i>Remarque : Défendre son domicile peut être reconnu comme légitime si l’usage de la force reste mesuré et nécessaire.</i></p>
            <div class="content-separator"></div>
            <h1>Règles Fondamentales de Sécurité – Méthode I.S.T.C</h1>
            <p>Apprenez ces principes essentiels :</p>
            <p>➤ 1. Toujours présumer qu’une arme est chargée.</p>
            <p>➤ 2. Ne jamais pointer le canon vers une cible non intentionnelle.</p>
            <p>➤ 3. Garder le doigt hors de la détente tant que l’arme n’est pas en position de tir.</p>
            <p>➤ 4. Vérifiez votre cible et ce qui l’entoure avant toute action.</p>
            <div class="content-separator"></div>
            <h1>Méthode de Tir Responsable – C.E.V.I.T.A.L</h1>
            <p>Cette méthode encadre chaque phase d’utilisation d’une arme :</p>
            <p>➤ C – Certitude : Être sûr du danger.</p>
            <p>➤ E – Élévation : Ajuster l’arme à la bonne hauteur.</p>
            <p>➤ V – Visée : Alignement des éléments de visée.</p>
            <p>➤ I – Index : Doigt sur la détente uniquement au moment du tir.</p>
            <p>➤ T – Tir : Acte contrôlé et conforme au droit.</p>
            <p>➤ A – Analyse : Évaluer les conséquences immédiates du tir.</p>
            <p>➤ L – Latérale : Contrôler les alentours pour détecter d’éventuelles menaces secondaires.</p>
            <div class="content-separator"></div>
            <h1>Conclusion</h1>
            <p>Le Permis de Port d’Arme n’est ni un droit automatique, ni un avantage personnel. Il représente une obligation morale et légale pour toute personne autorisée à porter une arme. La maîtrise des règles, des protocoles de sécurité et de la loi est indispensable pour garantir une utilisation responsable, en toute circonstance.</p>
        </div>
    </div>