<header class="hero">
  <nav class="navbar">
    
    <a href="/" class="logo">
        <img src="assets/logo.jpg" alt="Logo" />
    </a>

  
    <ul class="nav-links">
      <li><a href="/">Accueil</a></li>
      <li><a href="/reglement">Règlement intérieur</a></li>
      <li class="dropdown">
        <span class="dropbtn">Services ▾</span>
            <div class="dropdown-content">
                <a href="/catalogue">Catalogue</a>
                <a href="/ppa">Permis de port d'armes</a>
                <a href="/standDeTir">Stand de Tir</a>
            </div>
        </li>
      <li><a href="/about">Notre histoire</a></li>
    </ul>

    <a class="contact-btn" href="/contact" >Nous contacter</a>
  </nav>
</header>

<main class="main-content">
  <router-outlet></router-outlet>
</main>

<footer>
    &copy; 2025 Ammunation Sud SLFA. Tous droits réservés. (Site réalisé par Lexi Campbell)
</footer>

