<div class="header-section">
  <img src="assets/banniere_lc.png" alt="Grande image d'en-tête" class="header-image">
  <div class="header-text">
    <h1>L.C Studio</h1>
    <p>blablabla on décrit l'entreprise</p>
  </div>
</div>

<div class="photographer-section">
  <img src="assets/chat.jpg" alt="Photo 1">
  <div>
    <p class="contactName">Chilo Silva</p>
    <p>Body text for whatever you'd like to add more to the subheading.</p>
  </div>
</div>

<div class="photographer-section reverse">
  <div>
    <p class="contactName">Lexi Campbell</p>
    <p>Body text for whatever you'd like to add more to the subheading.</p>
  </div>
  <img src="assets/chat.jpg" alt="Photo 2">
</div>

<div class="button-group">
  <a href="/lc-prix" class="btn">Prix des services proposés</a>
</div>

<div>
    <router-outlet></router-outlet>
</div>