<div class="header-section">
  <img src="assets/banniere_lc.png" alt="Grande image d'en-tête" class="header-image">
  <div class="header-text">
    <h1>L.C Studio</h1>
    <p>Envie d’un shooting photo unique ou de mettre en valeur votre entreprise ? 
       L.C Studio s'impose comme LA référence visuelle à Los Santos. 
       Que ce soit pour immortaliser un moment précieux ou donner du cachet à votre image 
       professionnelle, leur œil artistique fera toute la différence.
    </p>
  </div>
</div>

<div class="photographer-section">
  <img src="assets/chilo.png" alt="Photo 1">
  <div>
    <p class="contactName">Chilo Silva</p>
    <h3>Pour prendre rendez-vous avec Chilo :</h3>
    <p>Numéro de téléphone : 9673943</p>
    <p>ou</p>
    <p>LifeInVader : Chilo Silva</p>
  </div>
</div>

<div class="photographer-section reverse">
  <div>
    <p class="contactName">Lexi Campbell</p>
    <h3>Pour prendre rendez-vous avec Lexi :</h3>
    <p>Numéro de téléphone : 8451902</p>
    <p>ou</p>
    <p>LifeInVader : Lexi Campbell</p>
  </div>
  <img src="assets/chat.jpg" alt="Photo 2">
</div>

<div class="button-group">
  <a href="/lc-prix" class="btn">Prix des services proposés</a>
</div>

<div>
    <router-outlet></router-outlet>
</div>