.photographer-section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;

  img {
    width: 250px;
    border-radius: 10px;
  }

  p {
    max-width: 300px;
    color: gray;
  }
}

.reverse {
  flex-direction: row-reverse;
}
