.homePage-wrapper {
  text-align: center;
  padding: 4rem 2rem;
}

.homePage-wrapper h1 {
  font-size: 5rem;
  color: #fff;
  margin-top: -18px;
}

.homePage-wrapper img {
  width: 100%;    
  max-width: 1100px;
  height: auto;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.6);
  margin-top: -40px;
}

.button-group {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 3rem;
  flex-wrap: wrap;
  margin-bottom: -10px;
}

.btn {
  text-decoration: none;
  padding: 0.75rem 2rem;
  font-size: 20px;
  border-radius: 30px;
  transition: background 0.3s ease;
  color: white;
  border: none;
}

.btn-primary {
  background-color: #333333; 
}

.btn-secondary {
  background-color: #333333; 
}

.btn-tertiary {
  background-color: #333333;
}

.btn:hover {
  filter: brightness(1.2);
}

/* Responsive */
@media (max-width: 900px) {
  .homePage-wrapper h1 {
    font-size: 3rem;
  }

  .homePage-wrapper img {
    width: 60%;
  }
}

@media (max-width: 600px) {
  .homePage-wrapper h1 {
    font-size: 2.5rem;
  }

  .homePage-wrapper img {
    width: 80%;
  }

  .button-group {
    flex-direction: column;
    align-items: center;
  }

  .btn {
    width: 80%;
    text-align: center;
  }
}
