 <div class="ct-wrapper">
        <div class="ct-container">
            <h1>Nous Contacter !</h1>
            <div class="carousel">
                <div class="carousel-images">
                    <img #img src="assets/bat.png" class="active" alt="Image 1">
                    <img #img src="assets/salle.png" alt="Image 2">
                    <img #img src="assets/sdt.png" alt="Image 3">
                    <img #img src="assets/carte.png" alt="Image 4">
                </div>
            </div>
            <p>Pour nous contacter, rendez-vous directement sur place ou appelez l’un des numéros ci-dessous.</p>
            <h2>Dwayne : 189 43 16</h2>
        </div>
    </div>
