.catalogue {
  padding: 4rem 2rem;
  text-align: center;
}

.catalogue h3 {
  font-size: 24px;
  margin-bottom: 5px;
  color: #f2f2f2;
}

.catalogue p {
  font-size: 20px;
  margin-bottom: 5px;
  color: #f2f2f2;
}

.catalogue-wrapper {
  padding: 25px 10px;
  display: flex;
  justify-content: center;
}

.catalogue-container {
  background-color: #f2f2f2;
  color: #111;
  max-width: 1400px;
  width: 100%;
  padding: 3rem 4rem; 
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.5);
}

.catalogue-container h1 {
  font-size: 55px;
  margin-bottom: 50px;
  color: #800000;
  text-align: center;
  margin-top: -3px;
}

.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  max-width: 1400px;
  margin: 0 auto;
}

.item {
  flex: 1 1 calc(25% - 2rem);
  max-width: 280px;
  min-width: 200px;
  background-color: #8f0202;
  padding: 1.5rem;
  border-radius: 12px;
  transition: transform 0.3s;
  box-sizing: border-box;
  text-align: center;
  margin-top: -10px;
}

.item:hover {
  transform: translateY(-5px);
}

.item img {
  width: 100%;
  border-radius: 8px;
}